<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layuiadmin/layui/layui.js}"></script>
</head>
<body>
<div class="layui-fluid" style="padding: 15px 15px 0 15px">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                     <span class="layui-breadcrumb">
                      <a href="javaScript:;">潮闻管理</a>
                      <a href="javascript:history.back(-1);window.close();">潮闻分类</a>
                      <a href="javascript:window.location.reload();"><cite>新增分类</cite></a>
                    </span>
                </div>

                <div class="layui-card-body">
                    <form class="layui-form" id="newsclassiflyinfoform">
                        <div class="layui-form-item">
                            <div class="layui-inline"></div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">分类名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="title" name="title">
                                </div>
                            </div>
                        </div>

                        <!-- 排序 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-inline">
                                <input type="text" autocomplete="off" class="layui-input"
                                       id="sort" name="sort" value="0" placeholder="不排序默认0">
                            </div>
                        </div>

                        <!-- 上传图片 -->
                        <div class="layui-form-item layui-upload">
                            <button type="button" class="layui-btn" id="addimg">添加图片</button>
                            <button type="button" class="layui-btn layui-btn-primary" style="display: none"
                                    id="uploadimg">上传图片
                            </button>
                            <button type="button" class="layui-btn layui-btn-disabled" style="display: none"
                                    id="doneimg">上传成功
                            </button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img showviewimg" id="classicon">
                                <p id="errText"></p>
                            </div>
                        </div>

                        <div class="layui-form-item" style="display: none">
                            <div class="layui-inline" id="pictures"></div>
                        </div>

                        <!-- 提交按钮 -->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-icon" lay-submit lay-filter="tijiao">&#xe681;提交</button>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        layui.use(['form', 'element'], function () {
            var form = layui.form;
            form.on('submit(tijiao)', function (data) {
                $.ajax({
                    type: "POST"
                    , dataType: "json"
                    , url: "/newsclassifly/add/addnewnewsclassfly"
                    , data: data.field
                    , success: function (sucdata) {
                        var erroCode = sucdata.erroCode;
                        var errorMessage = sucdata.errorMessage;
                        var backData = sucdata.backData;
                        layer.msg(errorMessage);
                        if (erroCode != 200) {
                            return;
                        }
                        setTimeout(function () {
                            history.back(-1);
                            window.close();
                        }, 2000);
                    }
                    , error: function (errdata) {
                        console.log(errdata);
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    })


    /*上传图片*/
    layui.use('upload', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, upload = layui.upload;
        ; //独立版的layer无需执行这一句
        var num = 1;
        var uploadInst = upload.render({
            elem: '#addimg'
            , url: '/fileUpload' //改成您自己的上传接口
            , accept: "images"//直接收图片文件
            , auto: false//选择文件之后不直接上传
            , bindAction: "#uploadimg"//指定按钮上传
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#classicon').attr('src', result); //图片链接（base64）
                    $("#addimg").text("更换图片");
                    $("#uploadimg").css("display", "");
                });
            }
            , done: function (res) {
                $("#pictures").append('<input type="hidden" autocomplete="off" class="layui-input" name="picture" value="' + res.path + '" >');
                //上传成功
                $("#addimg").css("display", "none");
                $("#uploadimg").css("display", "none");
                $("#doneimg").css("display", "");
                layer.msg("成功上传");
            }
            , error: function () {
                //演示失败状态，并实现重传
                var errText = $('#errText');
                errText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                errText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });
</script>
</body>
</html>
