<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加资讯</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layuiadmin/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/upload.css}" media="all">
</head>
<body>
<div class="layui-fluid" style="padding: 15px 15px 0 15px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-breadcrumb">
                      <a href="javaScript:;">潮闻管理</a>
                      <a href="javascript:history.back(-1);window.close();">潮闻</a>
                      <a href="javascript:window.location.reload();"><cite>编辑潮闻</cite></a>
                    </span>
                </div>

                <div class="layui-card-body">
                    <form class="layui-form" id="newsinfoform">

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="hidden" autocomplete="off" class="layui-input"
                                           id="id" name="id" th:value="${newsid}">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" autocomplete="off" class="layui-input"
                                       id="title" name="title">
                            </div>
                        </div>

                        <!--分类选择-->
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">资讯分类</label>
                                <div class="layui-input-inline">
                                    <select id="newsclassiflyid" name="newsclassiflyid" lay-filter="newsclassflyid">
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">内容</label>
                            <div class="layui-input-block">
                                <textarea name="content" id="editbox" lay-verify="content"
                                          style="display: none;"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">关键字(用逗号隔开)</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="tag" name="tag">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">封面图</label>
                            <div class="layui-input-block layui-upload" id="reloadShowImg">
                                <button type="button" class="layui-btn" id="addshowimg">更换封面图</button>
                                <button type="button" class="layui-btn layui-btn-primary" style="display: none"
                                        id="uploadshowimg">上传图片
                                </button>
                                <button type="button" class="layui-btn layui-btn-disabled" style="display: none"
                                        id="doneshowimg">上传成功
                                </button>
                            </div>
                            <label class="layui-form-label"></label>
                            <div class="layui-upload-list layui-input-block " id="showimglist"></div>
                        </div>


                        <div class="layui-form-item" style="display: none">
                            <div class="layui-inline" id="pictures"></div>
                        </div>

                        <!-- 提交按钮 -->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-icon" lay-submit lay-filter="tijiao">&#xe681;提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var index;
    $(document).ready(function () {
        layui.use(['form', 'layedit', 'element'], function () {
            var $ = layui.jquery;
            var form = layui.form, layer = layui.layer;
            var layedit = layui.layedit;
            //建立编辑器
            layedit.set({
                uploadImage: {
                    url: '/editfileUpload' //接口url
                    , type: 'post' //默认post
                }
            });
            index = layedit.build('editbox'); //建立编辑器
            form.verify({
                content: function (value) {
                    return layedit.sync(index);
                }
            });
            //获取分类数据
            getAllNewsClassfly();

            //提交数据
            form.on('submit(tijiao)', function (data) {
                $.ajax({
                    type: "POST"
                    , dataType: "json"
                    , url: "/news/update/updatenews"
                    , data: $("#newsinfoform").serialize()
                    , success: function (sucdata) {
                        var erroCode = sucdata.erroCode;
                        var errorMessage = sucdata.errorMessage;
                        var backData = sucdata.backData;
                        layer.msg(errorMessage);
                        if (erroCode != 200) {
                            return;
                        }
                        setTimeout(function () {
                            history.back(-1);
                            window.close();
                        }, 2000);
                    }
                    , error: function (errdata) {
                        console.log(errdata);
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        })

    });

    //获取分类数据
    function getAllNewsClassfly() {
        $.ajax({
            url: "/newsclassfly/getAllNewsClassfly"
            , dataType: "json"
            , type: "POST"
            , success: function (sucdata) {
                console.log(sucdata);
                var erroCode = sucdata.erroCode;
                var errorMessage = sucdata.errorMessage;
                if (erroCode == 200) {
                    var backData = sucdata.backData;
                    var str = '<option value="0">资讯分类</option>';
                    $("#newsclassiflyid").empty();
                    for (var i = 0; i < backData.length; i++) {
                        str += '<option value="' + backData[i].id + '">' + backData[i].title + '</option>';
                    }
                    $("#newsclassiflyid").append(str);
                    layui.form.render('select');
                    //获取数据
                    getNewsData();
                } else {
                    layer.msg(errorMessage);
                }
            }
            , error: function (errdata) {
                console.log(errdata);
            }
        })
    }

    //获取数据
    function getNewsData() {
        var newsid = $("#id").val();
        $.ajax({
            url: '/news/obtainSimpleNews'
            , data: {
                "newsid": newsid
            }
            , dataType: "json"
            , type: "POST"
            , success: function (sucdata) {
                console.log(sucdata);
                var errcode = sucdata.erroCode;
                if (errcode != 200) {
                    layer.msg(sucdata.errorMessage);
                    return;
                }
                var backData = sucdata.backData;
                $("#title").val(backData.title);
                $("#tag").val(backData.tag);
                if (backData.picture != "" && backData.picture != null) {
                    var pictures = backData.picture.split(",");
                    for (var i = 0; i < pictures.length; i++) {
                        $("#showimglist").append('<img src="/' + pictures[i] + '" class="layui-upload-img showviewimg">');
                    }
                }
                $("#newsclassiflyid").val(backData.newsclassiflyid);
                layui.form.render('select');
                $("#content").val(backData.content);
                layui.layedit.setContent(index, backData.content, false);
            }
            , error: function (errdata) {
                console.log(errdata);
            }
        })

    }


    //封面图片上传
    layui.use('upload', function () {
        var $ = layui.jquery, upload = layui.upload;
        upload.render({
            elem: '#addshowimg'
            , url: '/fileUpload' //改成您自己的上传接口
            , multiple: true
            , accept: "images"//直接收图片文件
            , auto: false//选择文件之后不直接上传
            , bindAction: "#uploadshowimg"//指定按钮上传
            , choose: function (obj) {
                $('#showimglist').empty();
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#showimglist').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img showviewimg">')
                });
                $("#addshowimg").text("继续添加");
                $("#uploadshowimg").css("display", "");
            }
            , done: function (res) {
                $("#addshowimg").css("display", "none");
                $("#uploadshowimg").css("display", "none");
                $("#doneshowimg").css("display", "");
                $("#pictures").append('<input type="hidden" autocomplete="off" class="layui-input" name="picture" value="' + res.path + '" >');
            }
            , error: function () {
                //演示失败状态，并实现重传
                var reloadShowImg = $('#reloadShowImg');
                reloadShowImg.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                reloadShowImg.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        })
    })

</script>
</body>
</html>
