<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layuiadmin/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/goods.css}" media="all">
</head>
<body>
<div class="layui-fluid" style="padding: 15px 15px 0 15px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <!-- 路径 -->
                <div class="layui-card-header">
                    <span class="layui-breadcrumb">
                      <a href="javaScript:;">APP管理</a>
                      <a href="javascript:history.back(-1);window.close();">用户</a>
                      <a href="javascript:window.location.reload();"><cite>编辑用户</cite></a>
                    </span>
                </div>

                <div class="layui-card-body">

                    <form class="layui-form">

                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="hidden" autocomplete="off" class="layui-input"
                                       id="id" name="id" th:value="${customerid}">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <!-- 头像-->
                            <div class="layui-inline">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-input-inline" style="cursor: pointer;" id="addmainimg">
                                    <img class="layui-upload-img showviewimg" id="headimg">
                                </div>
                                <div class="layui-input-block layui-upload" id="reloadMainImg">
                                    <button type="button" class="layui-btn layui-btn-primary" style="display: none"
                                            id="uploadmainimg">上传图片
                                    </button>
                                    <button type="button" class="layui-btn layui-btn-disabled" style="display: none"
                                            id="donemainimg">上传成功
                                    </button>
                                </div>
                            </div>

                            <!-- 用戶名 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="username" name="username">
                                </div>
                            </div>

                            <!-- 昵称 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="nickname" name="nickname">
                                </div>
                            </div>

                            <!--微信凭证-->
                            <div class="layui-inline">
                                <label class="layui-form-label">微信凭证</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" readonly unselectable="on" class="layui-input"
                                           id="wchatuuid" name="wchatuuid">
                                </div>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <!--置空-->
                            <div class="layui-inline">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-inline"></div>
                            </div>

                            <!-- 手机号 -->
                            <div class="layui-inline">
                                <label class="layui-form-label">手机号</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" readonly unselectable="on" class="layui-input"
                                           id="phone" name="phone">
                                </div>
                            </div>

                            <!--粉丝数-->
                            <div class="layui-inline">
                                <label class="layui-form-label">粉丝数</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="fans" name="fans">
                                </div>
                            </div>

                            <!--用户标签-->
                            <div class="layui-inline">
                                <label class="layui-form-label">用户标签</label>
                                <div class="layui-input-inline">
                                    <select id="tag" name="tag" lay-filter="classflyone">
                                        <option value="0">普通用户</option>
                                        <option value="1">已购用户</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <!--置空-->
                            <div class="layui-inline ">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-inline"></div>
                            </div>


                            <!--备注-->
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="remark" name="remark">
                                </div>
                            </div>

                        </div>


                        <div class="layui-form-item">
                            <div class="layui-inline" id="pictures"></div>
                        </div>

                        <!-- 提交按钮 -->
                        <div class="layui-form-item">
                            <div class="layui-inline layui-col-md6">

                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-icon" lay-submit lay-filter="tijiao">&#xe681;提交</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var form;
    $(document).ready(function () {
        layui.use(['form', 'element'], function () {
            form = layui.form;
            form.on('submit(tijiao)', function (data) {
                console.log(data.field);
                $.ajax({
                    type: "POST"
                    , dataType: "json"
                    , url: "/customers/updatecustomer"
                    , data: data.field
                    , success: function (sucdata) {
                        var erroCode = sucdata.erroCode;
                        var errorMessage = sucdata.errorMessage;
                        var backData = sucdata.backData;
                        layer.msg(errorMessage);
                        if (erroCode != 200) {
                            return;
                        }
                        setTimeout(function () {
                            history.back(-1);
                            window.close();
                        }, 2000);
                    }
                    , error: function (errdata) {
                        console.log(errdata);
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
            //获取商品数据
            getUserById();
        });
    })


    //上传主图
    layui.use('upload', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, upload = layui.upload;
        ; //独立版的layer无需执行这一句
        var num = 1;
        var uploadInst = upload.render({
            elem: '#addmainimg'
            , url: '/fileUpload' //改成您自己的上传接口
            , accept: "images"//直接收图片文件
            , auto: false//选择文件之后不直接上传
            , bindAction: "#uploadmainimg"//指定按钮上传
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#headimg').attr('src', result); //图片链接（base64）
                    //$("#addmainimg").text("更换主图");
                    //$("#uploadmainimg").css("display", "");
                    $("#uploadmainimg").click();
                });
            }
            , done: function (res) {
                $("#pictures").append('<input type="hidden" autocomplete="off" class="layui-input"  name="headportrait" value="' + res.path + '" >');
                //上传成功
                // $("#addmainimg").css("display", "none");
                //$("#uploadmainimg").css("display", "none");
                // $("#donemainimg").css("display", "");
                layer.msg("成功上传");
            }
            , error: function () {
                //演示失败状态，并实现重传
                var reloadMainImg = $('#reloadMainImg');
                reloadMainImg.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                reloadMainImg.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });

    //获取商品数据bid
    function getUserById() {
        var customerid = $("#id").val();
        $.ajax({
            type: "post"
            , url: "/customers/searchsimplecustomer"
            , data: {"customerid": customerid}
            , dataType: "json"
            , success: function (sucdata) {
                console.log(sucdata);
                var erroCode = sucdata.erroCode;
                var errorMessage = sucdata.errorMessage;
                if (erroCode != 200) {
                    layer.msg(errorMessage);
                    return;
                }
                var backData = sucdata.backData;

                $("#headimg").attr("src", "/" + backData.headportrait);
                $("#username").val(backData.username);
                $("#nickname").val(backData.nickname);
                $("#wchatuuid").val(backData.wchatuuid);
                $("#phone").val(backData.phone);
                $("#fans").val(backData.fans);
                $("#remark").val(backData.remark);
                $("#tag").val(backData.tag);
                form.render('select');
            }
        });
    }

</script>

</body>
</html>
