<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layuiadmin/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/upload.css}" media="all">
</head>
<body>
<div class="layui-fluid" style="padding: 15px 15px 0 15px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span class="layui-breadcrumb">
                      <a href="javaScript:">产品管理</a>
                      <a href="javascript:history.back(-1);window.close();">产品</a>
                      <a href="javascript:window.location.reload();"><cite>新建商品</cite></a>
                    </span>
                </div>

                <div class="layui-card-body">

                    <form class="layui-form" id="goodsformdata">
                        <div class="layui-form-item">
                            <div class="layui-inline"></div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">商品标题</label>
                            <div class="layui-input-block">
                                <input type="text" autocomplete="off" class="layui-input"
                                       id="title" name="title">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">产品分类</label>
                                <div class="layui-input-inline">
                                    <select id="classflyone" name="classflyone" lay-filter="classflyone">
                                        <option value="0">请选择</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">品牌分类</label>
                                <div class="layui-input-inline">
                                    <select id="classflytwo" name="classflytwo" lay-filter="classflytwo">
                                        <option value="0">请选择</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">款式分类</label>
                                <div class="layui-input-inline">
                                    <select id="classflythree" name="classflythree" lay-filter="classflythree">
                                        <option value="0">请选择</option>
                                    </select>
                                </div>
                            </div>

                        </div>


                        <div class="layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-form-label">租金</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="rent" name="rent" oninput="value=value.replace(/[^\d]/g,'')">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">押金</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="deposit" name="deposit" oninput="value=value.replace(/[^\d]/g,'')">
                                </div>
                            </div>

                        </div>


                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">关键字(用逗号隔开)</label>
                                <div class="layui-input-inline">
                                    <input type="text" autocomplete="off" class="layui-input"
                                           id="reize" name="reize">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">主图</label>
                            <div class="layui-input-block layui-upload" id="reloadMainImg">
                                <button type="button" class="layui-btn" id="addmainimg">添加主图</button>
                                <button type="button" class="layui-btn layui-btn-primary" style="display: none"
                                        id="uploadmainimg">上传图片
                                </button>
                                <button type="button" class="layui-btn layui-btn-disabled" style="display: none"
                                        id="donemainimg">上传成功
                                </button>
                            </div>
                            <label class="layui-form-label"></label>
                            <div class="layui-upload-list layui-input-block">
                                <img class="layui-upload-img showviewimg" id="mainview">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">详情图</label>
                            <div class="layui-input-block layui-upload" id="reloadDetaisImg">
                                <button type="button" class="layui-btn" id="adddetailsimg">添加详情图</button>
                                <button type="button" class="layui-btn layui-btn-primary" style="display: none"
                                        id="uploaddetailsimg">上传图片
                                </button>
                                <button type="button" class="layui-btn layui-btn-disabled" style="display: none"
                                        id="donedetailsimg">上传成功
                                </button>
                            </div>
                            <label class="layui-form-label"></label>
                            <div class="layui-upload-list layui-input-block " id="detailsimglist"></div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-inline" id="pictures"></div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">详情页</label>
                            <div class="layui-input-block">
                                <textarea id="editbox" name="content" style="display: none;"></textarea>
                            </div>
                        </div>


                        <!-- 提交按钮 -->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-icon" lay-submit lay-filter="tijiao">&#xe681;提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        layui.use(['form', 'element'], function () {
            //获取祖父类数据
            getGrandfatherClassfly();
            var form = layui.form;
            form.on('submit(tijiao)', function (data) {
                $.ajax({
                    type: "POST"
                    , dataType: "json"
                    , url: "/goods/add/addnewgoods"
                    , data: $("#goodsformdata").serialize()
                    , success: function (sucdata) {
                        var erroCode = sucdata.erroCode;
                        var errorMessage = sucdata.errorMessage;
                        var backData = sucdata.backData;
                        layer.msg(errorMessage);
                        if (erroCode != 200) {
                            return;
                        }
                        setTimeout(function () {
                            history.back(-1);
                            window.close();
                        }, 2000);
                    }
                    , error: function (errdata) {
                        console.log(errdata);
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });


        });
    });

    //获取祖父类
    function getGrandfatherClassfly() {
        $.ajax({
            type: "POST",
            url: "/classfly/getgrandFatherclassfly",
            dataType: "json",
            async: false,
            success: function (sucdata) {
                console.log(sucdata);
                var erroCode = sucdata.erroCode;
                var errorMessage = sucdata.errorMessage;

                if (erroCode != 200) {
                    layer.msg(errorMessage);
                    return;
                }

                var backData = sucdata.backData;

                var whs = "<option  value='0'>请选择</option>";
                $("#classflyone").empty();
                for (var i in backData) {
                    whs += "<option value='" + backData[i].id + "'>" + backData[i].content + "</option>";
                }
                $("#classflyone").append(whs);
                layui.form.render('select');
                layui.form.on('select(classflyone)', function (obj) {
                    getFatherClassfly(obj.value);
                });
            }
        });
    }

    //获取父类
    function getFatherClassfly(gfid) {
        $.ajax({
            type: "POST",
            url: "/classfly/getFatherclassfly",
            data: {"gfid": gfid},
            dataType: "json",
            async: false,
            success: function (sucdata) {
                var erroCode = sucdata.erroCode;
                var errorMessage = sucdata.errorMessage;
                if (erroCode != 200) {
                    layer.msg(errorMessage);
                    return;
                }
                var backData = sucdata.backData;

                var whs = "<option  value='0'>请选择</option>";
                $("#classflytwo").empty();
                for (var i in backData) {
                    whs += "<option value='" + backData[i].id + "'>" + backData[i].content + "</option>";
                }
                $("#classflytwo").append(whs);
                layui.form.on('select(classflytwo)', function (obj) {
                    getClassfly(obj.value);
                });
                layui.form.render('select');
            }
        });
    }

    //获取类
    function getClassfly(fid) {
        $.ajax({
            type: "POST",
            url: "/classfly/getClassfly",
            data: {"fid": fid},
            dataType: "json",
            async: false,
            success: function (sucdata) {
                var erroCode = sucdata.erroCode;
                var errorMessage = sucdata.errorMessage;
                if (erroCode != 200) {
                    layer.msg(errorMessage);
                    return;
                }
                var backData = sucdata.backData;
                var whs = "<option  value='0'>请选择</option>";
                $("#classflythree").empty();
                for (var i in backData) {
                    whs += "<option value='" + backData[i].id + "'>" + backData[i].content + "</option>";
                }
                $("#classflythree").append(whs);
                layui.form.render('select');
            }
        });
    }

    //上传主图
    layui.use('upload', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, upload = layui.upload;
         //独立版的layer无需执行这一句
        var num = 1;
        var uploadInst = upload.render({
            elem: '#addmainimg'
            , url: '/fileUpload' //改成您自己的上传接口
            , accept: "images"//直接收图片文件
            , auto: false//选择文件之后不直接上传
            , bindAction: "#uploadmainimg"//指定按钮上传
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#mainview').attr('src', result); //图片链接（base64）
                    $("#addmainimg").text("更换主图");
                    $("#uploadmainimg").css("display", "");
                });
            }
            , done: function (res) {
                $("#pictures").append('<input type="hidden" autocomplete="off" class="layui-input" id="picture1" name="picture1" value="' + res.path + '" >');
                //上传成功
                $("#addmainimg").css("display", "none");
                $("#uploadmainimg").css("display", "none");
                $("#donemainimg").css("display", "");
                layer.msg("成功上传");
            }
            , error: function () {
                //演示失败状态，并实现重传
                var reloadMainImg = $('#reloadMainImg');
                reloadMainImg.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                reloadMainImg.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });

    //上传详情图
    layui.use('upload', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, upload = layui.upload;
        //独立版的layer无需执行这一句
        var uploadInst = upload.render({
            elem: '#adddetailsimg'
            , url: '/fileUpload' //改成您自己的上传接口
            , multiple: true
            , accept: "images"//直接收图片文件
            , auto: false//选择文件之后不直接上传
            , bindAction: "#uploaddetailsimg"//指定按钮上传
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#detailsimglist').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img showviewimg">')
                });
                $("#adddetailsimg").text("继续添加");
                $("#uploaddetailsimg").css("display", "");
            }
            , done: function (res) {
                $("#pictures").append('<input type="hidden" autocomplete="off" class="layui-input"  name="picture2" value="' + res.path + '" >');
                $("#adddetailsimg").css("display", "none");
                $("#uploaddetailsimg").css("display", "none");
                $("#donedetailsimg").css("display", "");
            }
            , error: function () {
                //演示失败状态，并实现重传
                var reloadDetaisImg = $('#reloadDetaisImg');
                reloadDetaisImg.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                reloadDetaisImg.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });


    //引入编辑框
    layui.use('layedit', function () {
        layui.layedit.set({
            uploadImage: {
                url: '/editfileUpload' //接口url
                , type: 'post' //默认post
            }
        });
        layui.layedit.build('editbox'); //建立编辑器
    });

</script>

</body>
</html>
