<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加资讯</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layuiadmin/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/goods.css}" media="all">
</head>
<body>
<div class="layui-fluid" style="padding: 15px 15px 0 15px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                     <span class="layui-breadcrumb">
                      <a href="javaScript:;">系统管理</a>
                      <a href="javascript:history.back(-1);window.close();">滑块</a>
                      <a href="javascript:window.location.reload();"><cite>滑块编辑</cite></a>
                    </span>
                </div>

                <div class="layui-card-header">
                </div>

                <div class="layui-card-body">

                    <form class="layui-form">

                        <!-- id -->
                        <div class="layui-form-item">
                            <input type="hidden" autocomplete="off" class="layui-input" id="id" name="id"
                                   th:value="${bannerid}">
                        </div>

                        <!-- 标题 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" autocomplete="off" class="layui-input"
                                       id="title" name="title">
                            </div>
                        </div>

                        <!-- 链接 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">链接</label>
                            <div class="layui-input-block">
                                <input type="text" autocomplete="off" class="layui-input"
                                       id="link" name="link">
                            </div>
                        </div>

                        <!-- 排序 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-inline">
                                <input type="text" autocomplete="off" class="layui-input"
                                       id="sort" name="sort">
                            </div>
                        </div>

                        <!-- 状态 -->
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-inline">
                                    <select id="status" name="status" lay-filter="classflytwo">
                                        <option value="0">隐藏</option>
                                        d
                                        <option value="1">显示</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- banner图片 -->
                        <div class="layui-form-item">
                            <label class="layui-form-label">banner图片</label>
                            <div class="layui-input-block layui-upload" id="reloadMainImg">
                                <button type="button" class="layui-btn" id="addmainimg">添加banner图</button>
                                <button type="button" class="layui-btn layui-btn-primary" style="display: none"
                                        id="uploadmainimg">上传图片
                                </button>
                                <button type="button" class="layui-btn layui-btn-disabled" style="display: none"
                                        id="donemainimg">上传成功
                                </button>
                            </div>
                            <label class="layui-form-label"></label>
                            <div class="layui-upload-list layui-input-block">
                                <img class="layui-upload-img showviewimg" id="mainview">
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline" id="pictures"></div>
                        </div>

                        <!-- 提交按钮 -->
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-icon" lay-submit lay-filter="tijiao">&#xe681;提交</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //上传主图
    layui.use('upload', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, upload = layui.upload;
        ; //独立版的layer无需执行这一句
        var num = 1;
        var uploadInst = upload.render({
            elem: '#addmainimg'
            , url: '/fileUpload' //改成您自己的上传接口
            , accept: "images"//直接收图片文件
            , auto: false//选择文件之后不直接上传
            , bindAction: "#uploadmainimg"//指定按钮上传
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#mainview').attr('src', result); //图片链接（base64）
                    $("#addmainimg").text("更换banner图");
                    $("#uploadmainimg").css("display", "");
                });
            }
            , done: function (res) {
                $("#pictures").append('<input type="hidden" autocomplete="off" class="layui-input" id="picture" name="picture" value="' + res.path + '" >');
                //上传成功
                $("#addmainimg").css("display", "none");
                $("#uploadmainimg").css("display", "none");
                $("#donemainimg").css("display", "");
                layer.msg("成功上传");
            }
            , error: function () {
                //演示失败状态，并实现重传
                var reloadMainImg = $('#reloadMainImg');
                reloadMainImg.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                reloadMainImg.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });

    $(document).ready(function () {
        layui.use(['form', 'layer', 'upload', 'element'], function () {
            var form = layui.form;
            form.on('submit(tijiao)', function (data) {
                console.log(data.field);
                $.ajax({
                    type: "POST"
                    , dataType: "json"
                    , url: "/banners/banner/update"
                    , data: data.field
                    , success: function (sucdata) {
                        var erroCode = sucdata.erroCode;
                        var errorMessage = sucdata.errorMessage;
                        var backData = sucdata.backData;
                        layer.msg(errorMessage);
                        if (erroCode != 200) {
                            return;
                        }
                        setTimeout(function () {
                            history.back(-1);
                            window.close();
                        }, 2000);
                    }
                    , error: function (errdata) {
                        console.log(errdata);
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
        //获取banner
        getBanner();
    })

    //获取banner
    function getBanner() {
        var bannerid = $("#id").val();
        $.ajax({
            url: "/banners/banner/simple"
            , type: "post"
            , data: {
                "id": bannerid
            }
            , dataType: "json"
            , success: function (sucdata) {
                console.log(sucdata);
                var erroCode = sucdata.erroCode;
                var errorMessage = sucdata.errorMessage;
                if (erroCode == 200) {
                    var backData = sucdata.backData;
                    $("#title").val(backData.title);
                    $("#link").val(backData.link);

                    $("#sort").val(backData.sort);
                    $("#status").val(backData.status);

                    layui.form.render('select');

                    $("#mainview").attr("src", "/" + backData.picture);
                } else {
                    layer.msg(errorMessage);
                }
            }
            , error: function (errdata) {
                console.log(errdata);
            }
        });
    }

</script>

</body>
</html>
